<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Replies count</th>
        <th scope="col">Title</th>
        <th scope="col">Last replied at</th>
        <th scope="col">Viewed count</th>
      </tr>
    </thead>
    <tbody>
      <% objects.each do |object| %>
        <tr>
          <td><%= object.replies_count %></td>
          <td><%= object.title %></td>
          <td><%= object.replies.last.created_at %></td>
          <td><%= object.viewed_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>