/*------ basic ------*/
#header_nav {
  margin-bottom: 56px;
}

.container-fluid {
  padding-top: 30px;
}

p {
  margin-bottom: 0;
}

.btn {
  margin-right: 15px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------ user Sign Up ------*/
.userform {
  max-width: 60%;
  margin: auto;
}


/*------ post index ------*/
.sitename {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-color: #f0f0f0;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: left;
  padding-left: 30px;
  vertical-align: middle;
}

.category .nav-item {
  margin-right: 2rem;
  margin-bottom: 1rem;
}


/*------ new post ------*/
.new-post .container-fluid, .user-edit .container-fluid {
  margin-top: 90px;
} 

.post-form .form-control, .user-form .form-control {
  background-color: #f0f0f0;
}

.category-checkbox {
  display: inline-flex;
}

.checkbox {
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}



/*------ post show ------*/
.post-show .container-fluid {
  margin-top: 0;
  padding-top: unset;
}

.post-header {
  width: 100%;
  height: 90px;
  background-size: cover;
  background-color: #f0f0f0;
}

.post-title {
  font-size: 1.5rem;
}

.post-img, .post-button, .reply-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-detail, .comment {
  overflow: auto;
  margin-bottom: 30px;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.reply-list {
  background-color: #f0f0f0;
}

.comment {
  margin-top: 30px;
}

.comment-form {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.friendship-button {
  margin-bottom: 30px;
}

.friendship-button .btn{
  margin-right: unset;
}

/*------ user profile ------*/
.user-profile-header {
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: #f0f0f0;
}

.user-avatar {
  margin: 30px auto 10px auto;
}

.user-name, .user-edit-button {
  margin: 0px auto 30px auto;
}

.user-description {
  overflow: auto;
  margin: 30px auto 10px auto;
  background-color: #f0f0f0;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.user-tabs .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #f0f0f0;
}

.user-objects {
  background-color: #f0f0f0;
}

.user-objects td {
  padding-left: 30px;
}

.reply-comment {
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}

.reply-text {
  padding: 10px;
  overflow: auto;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.friend-status {
  padding: 30px 0;
}

.applied-area, .friends-area {
  background-color: #f0f0f0;
}

.applied-area .container-fluid, .requested-area .container-fluid, .friends-area .container-fluid {
  margin-top: unset;
}

.applied, .requested, .friends {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
  margin-bottom: 30px;
}

.applied > img, .requested > img, .friends >img {
  width: 80px;
  height: 70px;
}

.requested-area {
  background-color: #bebebe;
}



/*------ feeds ------*/
.feeds-header {
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: #f0f0f0;
}

.feeds-header .container-fluid {
  padding-bottom: 50px;
  padding-top: 50px;
}